<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Airline_ticketEntities"
 connectionString="metadata=res://*/Entities.AirlineTicketModel.csdl|res://*/Entities.AirlineTicketModel.ssdl|res://*/Entities.AirlineTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STHQ0118-13;initial catalog=Airline_ticket;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Airline_ticketEntities1"
 connectionString="metadata=res://*/Entities.AirlineTicketModel.csdl|res://*/Entities.AirlineTicketModel.ssdl|res://*/Entities.AirlineTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STHQ0118-13;initial catalog=Airline_ticket;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>